<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinSmit.WinSmitSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinSmit.WinSmitSettings>
            <setting name="root_node" serializeAs="String">
                <value>__ROOT__</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>WinSmit V3</value>
            </setting>
        </WinSmit.WinSmitSettings>
    </applicationSettings>
</configuration>